<html style = "background:#FEE6E1">
<head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="mycss.css">
        <a href="/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
</head>
<body>
<h1 align="center" style="font-size:3em;font-family:verdana"> Fractal Tree 1</h1>
<div id="canvas">
  <canvas id="myCanvas" width="800px" height="600px" ></canvas>
    <p id="text"></p>
    <button class="buttonR" onclick="decrease()" style="position:absolute; left:0; top:0px;">-1</button>
  <button class="buttonR" onclick="increase()" style="position:absolute; right:0; top:0;">+1</button>
</div>
</body>
            <script type="text/javascript" src="myjs.js"></script>
</html>