<html style = "background:#FEE6E1">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="mycss.css">
    </head>
    <body>
        <h1 align="center" style="font-size:3em;font-family:verdana"> Fractal Tree 1</h1>
  
  <button class="buttonR" onclick="decrease()" style="position:absolute; left:422px; top:94px;">-1</button>
  
  <p id="text" style="font-size:3em; position:absolute; top:120px; left:745px; z-index:100; font-family:verdana; color:#FEE6E1;"></p>
  
<button class="buttonR" onclick="increase()" style="position:absolute; right:418px; top:94px;">+1</button>
<img src="https://media2.giphy.com/media/a6pzK009rlCak/giphy.gif" style="position: fixed; left:0px; top:0px; width: 200px;transform: scaleX(-1);">
</img>
<div class="canvas">
  <canvas id="myCanvas" width="600px" height="600px"></canvas>
</div>
<img src="https://media2.giphy.com/media/a6pzK009rlCak/giphy.gif" style="position:fixed; right:0px; top:0px; width: 200px;">
</img>
    </body>
            <script type="text/javascript" src="myjs.js"></script>
</html>