<html>
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Getting Started Guides <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">drop1</a></li>
			            <li><a href="#">drop2</a></li>
			          </ul>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">Home</a></li>
			      <li><a href="/about">Page 1</a></li>
			      <li><a href="/1">Page 2</a></li>
			    </ul>
			  </div>
		</nav>

	</head>
	<h1 align="center" style="font-size:4em;font-family:verdana">Michae1's Portfolio</h1>

</html>