<html>
<h1 align="center" style="font-size:3em;font-family:verdana"> Ailisfather's Webpage demo</h1>
<img src="https://media2.giphy.com/media/4LgA7gSThPVVS/giphy.gif" style="position: fixed; left:0px; top:0px; width: 200px;">
</img>
<div class="canvas">
  <canvas id="myCanvas" width="400px" height="400px">
</canvas>
  <div class="text">123</div>
</div>
<img src="https://wx4.sinaimg.cn/mw690/3c0f63cely1fsh8tx1qlxj20u00uc41p.jpg" style="position:fixed; right:0px; top:0px; width: 200px;">
</img>

</html>