<html>
<h1 align="center" style="font-size:3em;font-family:verdana"> Ailisfather's Webpage demo</h1>
<img src="https://media2.giphy.com/media/4LgA7gSThPVVS/giphy.gif" style="position: fixed; left:0px; top:0px; width: 200px;">
</img>
<div class="canvas">
  <canvas id="myCanvas" width="400px" height="400px">
</canvas>
  <div class="text">123</div>
</div>
<img src="https://wx4.sinaimg.cn/mw690/3c0f63cely1fsh8tx1qlxj20u00uc41p.jpg" style="position:fixed; right:0px; top:0px; width: 200px;">
</img>

<p>每个人都有每个人的不幸，和每个人的幸福，谁能说自己的不幸不会是幸福呢

    第一章　失身的新婚少妇

    白洁，今年二十四岁，毕业于一所地方师范学院，在中国北方一所小镇中学教语文，这是一个高中和初中混合的学校，高中有宿舍，也有一部份学生在外面租房子住，学校的升学率很低，管理也很混乱。

    白洁这几天正为了评职称的事闹心，白洁毕业才只有两年，虽说学历够了，可资历太浅，但如果学校的先进生产者能选她，那就把握多了。那就全靠校长的推荐了。

    刚结婚两个月的白洁说是一个天生尤物也并不过份，皮肤白嫩散发出一种健康的光泽。粉面桃腮，一双标准的杏眼，总是有一种淡淡的迷朦，彷佛弯着一汪秋水。淡淡的秀眉，小巧的红唇总是似笑非笑的抿着。个子不是很高，可给人的感觉确是修长秀美。

    这天她穿着一件白色纱质的短裙，红色的纯棉t恤。薄薄的衣服下丰满坚挺的乳房随着她身体的走动轻轻地颤动。短裙下浑圆的小屁股向上翘起一个优美的弧线，修长匀称的双腿没有穿丝袜，白嫩的大腿光裸着。一双白色的软皮鞋，小巧玲珑。一股青春的气息弥漫全身，可少妇丰满的韵味却让她有一种让人心慌的诱惑力。

    校长高义从窗口看见白洁丰满白嫩而又活力四射的身影从窗前走过，不由一股热流从下腹升起。

    高义是个色鬼，以前在镇政府作教育助理时就因为和一个要当老师的少妇鬼混，在女人家里两人弄上了。那女人把裙子撩起来，趴在床上，高义在后边插进去，双手把着女人的腰，正“咕唧咕唧”地干得过瘾时，男人回来了，一敲门，高义一紧张，一边往出拔一边射精了，弄得女人的阴道里、阴毛上到处都是白花花的精液。

    两人慌乱地弄好衣服开开门，男人见半天才开门已觉不妥，进屋一瞧，两人神色慌张，女人的脸红扑扑的，他不由心里有些疑心，一转身，他看见床上扔着一条女人的内裤，沉着脸叫女人和他进了屋里。

    一进屋，当时就急了，他一把撩起女人的裙子，伸手在女人湿乎乎的阴部一摸，在鼻子底下一闻：“我操你妈”男人捅到了镇里，高义只好被调到了中学当校长。

    今天见到白洁，一个阴谋在他心里产生了，一个圈套向白洁身上套来。

    白洁这几天正为职称的事情发愁，晚上回到家，白洁吃饭的时候把单位的事和丈夫说了，可她丈夫根本没当回事。

    白洁的丈夫王申是在另一个中学教数学的老师，人瘦瘦的，戴着一副高度近视镜，看上去文质彬彬，倒也有些知识分子的风度，可也有知识分子的通病，根本不相信白洁能评上这个职称，不屑一顾的说了几句话，让白洁很不舒服，两人闷闷不乐地上床了。

    过了一会儿，王深手从她背后伸过来，在她丰满挺实的乳房上抚摸，一边把她的胸罩推了上去，翻身压倒了白洁身上，一边揉搓着白洁的乳房，嘴已经含住了白洁粉红的小乳头，轻轻吮吸、舔舐着。

    “烦人”白洁不满地哼了一声，王申已经把手伸到白洁下身，把她的内裤拉了下去，一边手伸到白洁阴毛下边摸了几下，王身的阴茎就已经硬得要涨爆了，迫不及待地就分开了白洁的双腿，压到了白洁双腿间。

    坚硬的东西在白洁湿滑的下体顶来顶去，弄得白洁心里直痒痒，只好把腿曲起来，手伸到下边，握着王申的阴茎放到自己的阴门，王申向下一压，阴茎插了进去，“嗯”白洁哼了一声，双腿微微动了一下。

    王申一插进去就开始不停地抽送，“呼哧呼哧”地在白洁身上起伏着。渐渐地白洁下身传出了“扑哧扑哧”的水声，白洁的喘息也越来越重了，嘴唇微微的张开着。王申这时却快速地抽送了几下，哆嗦了几下，趴在白洁身上不动了。

    刚有一点感觉的白洁把趴在她身上的丈夫推下去，抓过床边的卫生纸在湿乎乎的阴部擦了几下，翻过来翻过去，心里好像有一团火在烧，起身又打着电视，浑身很不自在。

    作为一个丰满性感的少妇，王申显然无法满足白洁的性欲，只是现在白洁的性欲还没有全显露出来，这为白洁的堕落留下了不可磨灭的伏笔。

    第二天，一上班白洁就发现许多人用异样的眼光看她，到了教室才知道，原来今年的先进生产者评了她，而且，还评她为今年镇里的劳模，准备提名为市里的劳模。白洁心头一阵狂喜，来到了校长高义的办公室。

    白洁今天穿了一件水粉色的衬衫，和一件到膝盖的淡黄色纱裙，短裙下露出的笔直浑圆的小腿上穿着春白色的长统丝袜，小巧的脚上穿着一双白色的高跟小凉鞋。

    “校长，您找我”白洁按捺不住心头的兴奋，脸上还带着笑意。

    高义眼睛盯着白洁薄薄的衣服下，随着白洁说话有些轻轻颤动的乳房，那丰满的韵味，让他几乎是要流口水了。

    “校长。”白洁又叫了一声。

    “啊，白洁，你来了。”高义让白洁坐在沙发上，一边说：“这次评你为先进是我的意思，现在不是提倡用年轻人吗，所以我准备提你进中级职称，如果年底有机会，我准备让你做语文组的组长。”

    由于白洁坐在沙发上，高已从白洁衬衫的领口斜眼进去看见白洁里边穿的是一件白色带蕾丝花边的乳罩，高义看着丰满白嫩的乳房之间深深的乳沟，下身都有些硬了。

    “校长，我才毕业这么几年，别人会不会”白洁有些担忧。

    “不理那些小人，妒才忌能。”高义的眼睛几乎快钻到白洁衣服里去了，说话出气都不匀了：“这样吧，你写一个工作总结，个人总结，明天早上，嗯，明天是周六，明天上午九点，你送到我家里来，我帮你看一下，周一我就给市里送去。”

    “谢谢你，高校长，明天我一定写完。”白洁一副受宠若惊的样子。

    “我家在这里。”高义在一张纸上写了他家的地址递给白洁。

    整整写到十一点的白洁，早晨又仔细地检查了一遍，王申对白洁的热情是不屑一顾，他上了好几年班还啥也不是，根本不相信白洁能评上什么职称。刚好他有个同学周日结婚，他告诉白洁晚上不回来了，就走了。

    白洁又仔细地打扮了一下，换上了一条白色带黄花的丝质长裙，肩上是吊带的，又在外面着了一件淡粉色的马夹。下身还穿着那双白色的丝袜，这件丝袜腿根的地方是有蕾丝花边的，柔软的面料更衬的白洁的乳房丰满坚挺、纤细的腰、修长的双腿。

    高义开门一看见白洁，眼睛都直了：“快进来，快请进”白洁把总结递给高义，高义接过来却放在一边，忙着给白洁端了一杯凉咖啡：“先喝一杯解解解渴。”

    走了这一段路，白洁真有些渴了，接过来喝了一口，挺好喝的，就全喝了下去。

    白洁没注意到高义脸上有一丝怪异，白洁又喝了几口高义又端来的咖啡，和高义说了几句话，突然觉着有些头晕：“我头有些迷糊”白洁往起站，刚一站起来，就天旋地转地倒在了沙发上。

    高义过去叫了几声：“白洁，白老师”一看白洁没声，大胆地用手在白洁丰满的乳房上捏了一下。白洁还是没什么动静，只是轻轻地喘息着。

    高义在刚才给白洁喝的咖啡里下了一种外国的迷药，药性很强，可以维持几个小时，而且还有催情作用。此时的白洁脸色绯红，粉红的嘴唇微微张着。

    高义把窗帘拉上之后，来到白洁身边，迫不及待地扑到躺在沙发上的白洁身上，揭开白洁的马夹，把白洁的肩带往两边一拉，白洁丰满坚挺的乳房带着一件白色蕾丝花边的很薄的乳罩，高义迫不及待地把白洁的乳罩推上去，一对雪白的乳房就完全地显露在高义面前，粉红粉红的小乳头在胸前微微颤抖，由于药力的作用，乳头慢慢地坚硬勃起。

    高义双手抚摸着这一对白嫩的乳房，柔软而又有弹性，高义含住白洁的乳头一阵吮吸，一只手已伸到白洁裙子下，在白洁穿着丝袜的大腿上抚摸，手滑到白洁阴部，在白洁阴部用手搓弄着。

    睡梦中的白洁轻轻地扭动着，高义已是挺不住了，几把脱光了衣服，阴茎已是红通通地挺立着。

    高义把白洁的裙子撩起来，白洁白色丝袜的根部是带蕾丝花边的，和白嫩的肌肤衬在一起更是性感撩人，阴部是一条白色的丝织内裤，几根长长的阴毛从内裤两侧漏了出来。

    高义把白洁的内裤拉下来，双手抚摸着白洁一双柔美的长腿，白洁乌黑柔软的阴毛顺伏地覆在阴丘上，雪白的大腿根部一对粉嫩的阴唇紧紧地合在一起。高义的手抚过柔软的阴毛，摸到了白洁嫩嫩的阴唇，湿乎乎的、软乎乎的。

    高义把白洁一条大腿架到肩上，一边抚摸着滑溜溜的大腿，一边用手把着粗大的阴茎顶到了白洁柔软的阴唇上，“美人，我来了”一挺，“滋”一声插进去大半截，睡梦中的白洁双腿的肉一紧。

    “真紧啊”高义只感觉阴茎被白洁的阴道紧紧地裹住，感觉却又是软乎乎的，高义来回动了几下，才把阴茎连根插入。白洁秀眉微微皱起，“嗯”浑身抖了一下。

    白洁脚上还穿着白色的高跟鞋，左脚翘起搁在高义的肩头，右腿在胸前蜷曲着，白色的内裤挂在右脚踝上，在胸前晃动，真丝的裙子都卷在腰上，一对雪白的乳房在胸前颤动着。 </p>
</html>