<html style = "background: #99d6ff">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="snake.css">	
        <a href="/" style="font-size:1em;font-family:verdana"> Home </a>	
	</head>

  <h1 align = "center" style = "color: #cc6600; font-family: Courier; font-size:3em">
    Pac-Block
  </h1>
  <p id = "text" align = "center" style = "color: #cc6600; font-family: Courier; font-size:2em"></p>
  <div id = "container">
    <canvas></canvas>
  </div>
  <a id="res" onclick="rest()">Restart</a>
<script type="text/javascript" src="snake.js"></script>
</html>