<html style = "background: #ffe6b3">
<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="pac.css">	
        <a href="/" style="font-size:1em;font-family:verdana"> Home </a>	
	</head>
  <h1 align = "center" style = "color: #cc6600; font-family: Courier; font-size:3em">
    Working in Progress!
  </h1>
  <div align = "middle">
  <img src="http://5b0988e595225.cdn.sohucs.com/images/20180722/884042ccc50c457dbddb5bbebd7a7143.gif">
  </div>
</html>