<html style = "background: #737373">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="singlepen.css">	
        <a href="/" style="font-size:1em;font-family:verdana"> Home </a>	
	</head>

<h1 align = "center" style = "color: #333333; font-family: Courier; font-size:3em">
    Starfield
</h1>
  <input type = "text" id = "searchTxt" placeholder = "Number of Stars">
<div id = "container">
    <canvas></canvas>
</div>
<script type="text/javascript" src="singlepen.js"></script>
</html>