<html style = "background: #737373">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="snake.css">	
        <a href="/" style="font-size:1em;font-family:verdana"> Home </a>	
	</head>

<h1 align = "center" style = "color: #333333; font-family: Courier; font-size:3em">
    Snake Game!
</h1>
<div id = "container">
    <canvas></canvas>
</div>
<script type="text/javascript" src="snake.js"></script>
</html>