<html style = "background: #737373">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="starfield.css">	
        <a href="/" style="font-size:1em;font-family:verdana"> Home </a>	
	</head>
<div style="position:absolute; left:0px; top:50px;">
  <input id = "number">
</div>

<h1 align = "center" style = "color: #333333; font-family: Courier; font-size:3em">
    Starfield
</h1>
<div id = "container">
    <canvas></canvas>
</div>
<script type="text/javascript" src="starfield.js"></script>
</html>