<html style = "background: #737373">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="starfield.css">		
	</head>
<input type="email" name="email" id="email" placeholder="Number of stars" required>
  <h1 align = "center" style = "color: #333333; font-family: Courier; font-size:3em">
    Starfield
  </h1>
  <div id = "container">
    <canvas></canvas>
  </div>
  <script type="text/javascript" src="starfield.js"></script>
</html>