.canvas {
  height: 600px;
  width: 600px;
  background : rgb(100, 100, 100);
  position: relative;
  right: 0;
  left:0;
  bottom:0; 
  top:0;
  margin:auto; 
}
.buttonR{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 291px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}